## Components Installation

In [ ]:
!pip install pyodbc
!pip install SQLAlchemy
!pip install pymssql
!pip install pandas

## Libraries Importing

In [1]:
## Libraries Importing
import pyodbc
import sqlalchemy
import pymssql
import pandas as pd


## garbage collection
import gc

## Credentials and Connections Settings

In [2]:
###database username. Use config file or env vars
uid = "jaroslav_kobozev" 
###database password. Use config file or env vars
pwd = "z&)x5#^Du8z-D}dT55!fZyf81X^" 
driver = "{ODBC Driver 17 for SQL Server}"
server = "testdb.bi.aws.intellij.net" # or your computer name
database = "dea"


conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';DATABASE=' + database + ';UID=' + uid + ';PWD=' + pwd)

## SQL Server Connection Test

### "dea" DB exploring

In [ ]:
##sql_test = "select schema_name(t.schema_id) as schema_name, t.name as table_name, t.create_date from sys.tables t"
sql_test_ = "select schema_name(t.schema_id) as schema_name,  t.name as table_name, t.create_date from sys.tables t"

In [ ]:
test_ = pd.read_sql_query(sql_test, conn)
##test_.head()
##print(test_)
pd.reset_option('display.max_rows')
test_

### "dea" DB tables info

In [ ]:
test_.info()

### "Netsuite" Schema TRANSACTIONS" table information

#### Shape

In [3]:
transactions = pd.read_sql_query(
    "SELECT * FROM netsuite.transactions",
    conn
)

pd.reset_option('display.min_rows')


##test_.head()
##print(test_)
##pd.reset_option('display.max_rows')
transactions.shape

C:\Users\User\AppData\Local\Temp\ipykernel_10356\4192976430.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transactions = pd.read_sql_query(

(1112409, 11)

#### Preview ".head()"

In [ ]:
transactions.head()

#### Info

In [ ]:
transactions.info()

__Table "TRANSACTIONS" info.__
<class 'pandas.core.frame.DataFrame'>
__RangeIndex: 1112409 entries, 0 to 1112408__
Data columns (total 11 columns):
    Column              Non-Null Count    Dtype  
---  ------              --------------    -----  
 0   TRANSACTION_ID      1112409 non-null  int64  
 1   TRANID              1112409 non-null  object 
 2   TRANSACTION_TYPE    1112409 non-null  object 
 3   TRANDATE            1112409 non-null  object 
 4   EXCHANGE_RATE       1112409 non-null  float64
 5   CURRENCY_ID         1112409 non-null  int64  
 6   ORDER_REF           1112409 non-null  object 
 7   MERCHANT_ACCOUNT    739367 non-null   object 
 8   BATCH_NUMBER        606609 non-null   float64
 9   IS_NON_POSTING      1112409 non-null  object 
 10  DATE_LAST_MODIFIED  1112409 non-null  object 
dtypes: float64(2), int64(2), object(7)
memory usage: 93.4+ MB


Tables columns "Merchant_Account" and "Batch_Number" contain _null_ values.

#### Statistics

In [ ]:
transactions.describe()

In [ ]:
SQL_T_OrdRef = transactions["ORDER_REF"]
SQL_T_Subset = transactions[["TRANSACTION_ID", "ORDER_REF"]]
SQL_T_Subset.describe(include = ["int", "object"])

***

### "Netsuite" Schema "Accounts" table information

#### Shape

In [ ]:
accounts = pd.read_sql_query(
    "SELECT * FROM netsuite.accounts",
    conn
)

#pd.reset_option('display.min_rows')

accounts.shape

#### Preview ".head()"

In [ ]:
accounts.head()

***

### "Netsuite" Schema "Entity" table information

#### Shape

In [ ]:
entity = pd.read_sql_query(
    "SELECT * FROM netsuite.entity",
    conn
)

entity.shape

#### Preview ".head()"

In [ ]:
entity.head()

ENTITY_ID	NAME	 ENTITY_TYPE	BILL_COUNTRY	DATE_LAST_MODIFIED
1	        flow	 Personal	              GB	        2019-03-18
2	        well	 Commercial	              US	        2018-09-25
3	        right	 Reseller	              US	        2018-09-05
4	        local	 Personal	              US	        2019-06-09
5	        movement Commercial	              US	        2018-06-23

***

### "Netsuite" Schema "Subsidiaries" table information

#### Shape

In [ ]:
subs = pd.read_sql_query(
    "SELECT * FROM netsuite.subsidiaries",
    conn
)

subs.shape

#### Preview ".head()"

In [ ]:
subs.head()

***

### "Netsuite" Schema "Transaction_Lines" Table information

#### Shape

In [4]:
tl = pd.read_sql_query(
        "SELECT * FROM netsuite.transaction_lines",
        conn
)

tl.shape

C:\Users\User\AppData\Local\Temp\ipykernel_10356\3695239593.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tl = pd.read_sql_query(

(2224818, 8)

#### Preview ".head()"

In [ ]:
tl.head()

In [ ]:
SQL_TL_Amount = tl[["ACCOUNT_ID", "AMOUNT", "AMOUNT_FOREIGN" ]]

In [ ]:
SQL_TL_Amount.sum()

In [ ]:
SQL_TL_Amount.groupby("ACCOUNT_ID").sum()

#### Summary

In [ ]:
SQL_TL_Amount.loc[SQL_TL_Amount["ACCOUNT_ID"] != 128, "AMOUNT"].sum()

Sum of "AMOUNT" column: 115 209 963.46999995

In [ ]:
SQL_TL_Amount.loc[SQL_TL_Amount["ACCOUNT_ID"] != 128, "AMOUNT_FOREIGN"].sum()

Sum of "AMOUNT_FOREIGN" column: 124 768 149.0

Total Sum of "AMOUNT_FOREIGN" equals to 0.0.
"ACCOUNT_ID" with 128 code means "Deferred Revenue" and its the only Account Name with the negative total sum of "AMOUNT_FOREIGN" column. This code must be exclude from Analysis.

***

## GitHub Settlement

### first file import testing

In [ ]:
## GitHub "*_138.csv" file import

first_file = pd.read_csv("https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_138.csv", sep=";")

#### Shape

In [ ]:
## GitHub "*_138.csv" file Shape
first_file.shape

#### Preview ".head()"

In [ ]:
## GitHub "*_138.csv" file Preview

first_file.head()

#### Info

In [ ]:
first_file.info()

#### Statistics

In [ ]:
first_file.describe()

***

### Import all .csv files from GitHub

#### Import and Concatenating multiple CSV files in a single pandas DataFrame

In [5]:
data_files = [
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_138.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_139.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_140.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_141.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsAmericasUSD_settlement_detail_report_batch_142.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsEUR_settlement_detail_report_batch_138.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsEUR_settlement_detail_report_batch_139.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsEUR_settlement_detail_report_batch_140.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsEUR_settlement_detail_report_batch_141.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsEUR_settlement_detail_report_batch_142.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsGBP_settlement_detail_report_batch_138.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsGBP_settlement_detail_report_batch_139.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsGBP_settlement_detail_report_batch_140.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsGBP_settlement_detail_report_batch_141.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsGBP_settlement_detail_report_batch_142.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsUSD_settlement_detail_report_batch_138.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsUSD_settlement_detail_report_batch_139.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsUSD_settlement_detail_report_batch_140.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsUSD_settlement_detail_report_batch_141.csv",
            "https://raw.githubusercontent.com/antontucek/jb-dea-test-assignment/main/settlement/JetBrainsUSD_settlement_detail_report_batch_142.csv"

]

GH = pd.concat(
                        pd.read_csv(filename, sep=";", index_col=None, header=0) for filename in data_files
            )

#### Shape

In [ ]:
GH.shape

#### Preview ".head()"

In [ ]:
GH.head()

#### Info

In [ ]:
GH.info()

#### Statistics

In [ ]:
GH.describe(include = ["object", "int"])

***
"GROSS" column combines amount of 3 different currencies.
***

In [ ]:
Batch_Number_df = GH[["BATCH_NUMBER"]].groupby("BATCH_NUMBER", as_index=False).first()

Batch_Number_df

In [ ]:
subset_test = GH[["MERCHANT_ACCOUNT", "BATCH_NUMBER", "GROSS"]]

subset_test

In [ ]:
subset_test.groupby(["MERCHANT_ACCOUNT", "BATCH_NUMBER"])["GROSS"].sum()

In [ ]:
GH_Amount = GH["GROSS"]
GH_Amount.sum()

#### Summary

In [ ]:
SQL_TL_Amount.sum() == GH_Amount.sum()

Sum of "AMOUNT FOREIGN" column is equal to Sum of "GROSS" column.

***
***
***

## Data Combining

### Table Bridge creation

In [6]:
GH_Bridge = GH[["ORDER_REF", "MERCHANT_ACCOUNT", "BATCH_NUMBER"]].groupby("ORDER_REF", as_index=False).first()
GH_Bridge

         ORDER_REF      MERCHANT_ACCOUNT  BATCH_NUMBER
0       A000000003          JetBrainsEUR           138
1       A000000004  JetBrainsAmericasUSD           139
2       A000000010  JetBrainsAmericasUSD           139
3       A000000017  JetBrainsAmericasUSD           138
4       A000000019          JetBrainsGBP           138
...            ...                   ...           ...
372649  Z000222243  JetBrainsAmericasUSD           140
372650  Z000222251  JetBrainsAmericasUSD           139
372651  Z000222256          JetBrainsEUR           139
372652  Z000222259  JetBrainsAmericasUSD           140
372653  Z000222260          JetBrainsEUR           142

[372654 rows x 3 columns]

### Transaction Lines Table enriched by Transactions Table

In [7]:
TL_Merged = tl.merge(
                    transactions,
                    on='TRANSACTION_ID',
                    how='left'
                )

TL_Merged

,TRANSACTION_ID,TRANSACTION_LINE_ID,AMOUNT,AMOUNT_FOREIGN,SUBSIDIARY_ID,ACCOUNT_ID,COMPANY_ID,DATE_LAST_MODIFIED_x,TRANID,TRANSACTION_TYPE,TRANDATE,EXCHANGE_RATE,CURRENCY_ID,ORDER_REF,MERCHANT_ACCOUNT,BATCH_NUMBER,IS_NON_POSTING,DATE_LAST_MODIFIED_y
0,1,0,17.80,20.0,1,124,3172,2019-04-19,INV00183242,Invoice,2019-03-30,0.890076,3,R000122702,None,NaN,No,2019-04-19
1,1,1,-17.80,-20.0,1,128,3172,2019-04-19,INV00183242,Invoice,2019-03-30,0.890076,3,R000122702,None,NaN,No,2019-04-19
2,2,0,237.80,295.0,1,124,11813,2018-02-27,INV00019330,Invoice,2018-02-18,0.806108,3,C000033810,None,NaN,No,2018-02-27
3,2,1,-237.80,-295.0,1,128,11813,2018-02-27,INV00019330,Invoice,2018-02-18,0.806108,3,C000033810,None,NaN,No,2018-02-27
4,3,0,33.30,40.0,1,124,4630,2018-01-15,INV00000402,Invoice,2018-01-02,0.832466,3,C000044258,None,NaN,No,2018-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2224813,1484537,1,-1.63,-2.0,1,2274,5983,2018-04-03,CD00000076,Customer Deposit,2018-03-20,0.813240,3,C000054418,JetBrainsEUR,138.0,No,2018-04-03
2224814,1484538,0,5.27,6.0,1,124,5903,2018-09-01,CD00000206,Customer Deposit,2019-01-01,0.877886,3,E000037665,JetBrainsEUR,140.0,No,2018-09-01
2224815,1484538,1,-5.27,-6.0,1,2274,5903,2018-09-01,CD00000206,Customer Deposit,2019-01-01,0.877886,3,E000037665,JetBrainsEUR,140.0,No,2018-09-01
2224816,1484539,0,28.00,28.0,2,124,5826,2019-01-29,CD00000210,Customer Deposit,2019-01-06,1.000000,1,R000128350,JetBrainsAmericasUSD,NaN,No,2019-01-29
2224817,1484539,1,-28.00,-28.0,2,2274,5826,2019-01-29,CD00000210,Customer Deposit,2019-01-06,1.000000,1,R000128350,JetBrainsAmericasUSD,NaN,No,2019-01-29

In [10]:
TL_Merged.rename(columns = {"ORDER_REF":"S_Order_Ref", "MERCHANT_ACCOUNT":"S_Merchant_Account", "BATCH_NUMBER":"S_Batch_Number"}, inplace=True)

In [17]:
S_Table = TL_Merged.groupby(["S_Order_Ref", "S_Merchant_Account", "S_Batch_Number", "TRANDATE"])["AMOUNT_FOREIGN"].sum()

In [32]:
S_Table.loc[S_Table["S_Order_Ref"] !=0, "S_Order_Ref", "S_Merchant_Account", "S_Batch_Number", "TRANDATE"]

KeyError: 'S_Order_Ref'